@media screen and (min-width: 767px) {} /* Media Query */


// section one


#section_one .corner svg .corner-cls-1 {
	stroke-dasharray: 50;
	stroke-dashoffset: 50;
}


#section_one.visible .corner svg .corner-cls-1 {
	animation: corners 2500ms cubic-bezier(.17,.66,.34,.98) forwards;
}





@keyframes corners {
  to {
    stroke-dashoffset: 0;
  }
}



.triangles_wrapper {
	animation-name: triangle_move;
	animation-duration: 2300ms;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	.triangle {
			
		
	}
}



// secton two



.sec_two_header h2 {
	opacity: 0;
	transition: opacity 800ms ease-in-out
}


#section_two.visible {
	.sec_two_header h2 {
		opacity: 1;
	}
}


.blue_line_wrapper {
	.blue_line {
		width:0%;
		transition: all 2700ms cubic-bezier(.17,.66,.34,.98);
		flex-grow:0;
	}
	.circle {
		opacity: 0;
		transition: opacity 1000ms linear;
		&:before {
			animation-name: pulse;
			animation-duration: 1900ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&:after {
			
		}
	}
}



#section_two.visible {
	.blue_line_wrapper {
		.blue_line {
			width:100%;
			flex-grow:1;
		}
		.circle {
			opacity: 1;
			transition-delay: 1600ms;
			&:before {
				
			}
			&:after {
			
			}
		}
	}
}



// iphone


/*
span.iphone_title {
	opacity: 0;
	transition: all 400ms ease-in-out;
}


#section_two.visible {
	span.iphone_title {
		opacity: 1;
	}
}
*/


.graph_wrapper .graph svg {
	.graph-cls-2 {
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		
	}
}


#section_two.visible {
	.graph_wrapper .graph svg {
		.graph-cls-2 {
			animation: dash 3200ms cubic-bezier(.17,.66,.34,.98) forwards;
		}
	}
}



.weed_row  {
	svg {
		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
			path, rect {
				fill:#021017;
				transition: all 700ms linear;
			}
		}
	}
}


#section_two.visible {
	.weed_row  {
		svg {
			&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
				path, rect {
					fill:#4cb8e9;
				}
			}
			&:nth-of-type(2) {
				path, rect {
					transition-delay: 200ms;
				}
			}
			&:nth-of-type(3) {
				path, rect {
					transition-delay: 400ms;
				}
			}
		}
	}
}


.bars_wrapper {
	.single_bar {
		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
			span.bar {
				&:before {
					width:0%;
					transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
				}
			}
		}
	}
} 


#section_two.visible {
	.bars_wrapper {
		.single_bar {
			&:nth-of-type(1) {
				span.bar {
					&:before {
						width:70%;
					}
				}
			}
			&:nth-of-type(2) {
				span.bar {
					&:before {
						width:40%;
						transition-delay: 150ms;
					}
				}
			}
			&:nth-of-type(3) {
				span.bar {
					&:before {
						width:55%;
						transition-delay: 300ms;
					}
				}
			}
			&:nth-of-type(4) {
				span.bar {
					&:before {
						width:20%;
						transition-delay: 450ms;
					}
				}
			}
		}
	} 
} 



@media screen and (max-width: 1130px) {
	
	
	#section_two.visible .blue_line_wrapper .blue_line {
		width:1px;
	}
	
	
	
} /* Media Query */

