#section_four {
	background: $lightgrey;
	width:100%;
	padding-bottom:200px;
	padding-top:105px;
	position: relative;
	overflow: hidden;
	
}

.sec_four_inner {
	text-align: center;
	position: relative;
	z-index: 1;
	h2 {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight: 400;
		font-size:39px;
		letter-spacing: 0.22em;
		font-style: normal;
		line-height: 45px;
	}
}


.form {
	max-width:980px;
	margin:165px auto 0;
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li#field_1_4 {
			.gfield_description {
				display: none;
			}
		}
		li#field_1_5 {
			flex-basis: 100%;
		}
		li {
			flex-basis: 47%;
			margin-bottom:34px;
			position: relative;
			&:after {
				content:"";
				width:7px;
				height:7px;
				background: $teal;
				display: block;
				border-radius: 50%;
				position: absolute;
				top:26px;
				right:0;
			}
			label {
				display: none;
			}
			input, textarea {
				border: none;
				display: block;
				width:100%;
				background: transparent;
				border-bottom:4px solid $teal;
				color:#fff;
				font-family: $muli;
				font-size:18px;
				letter-spacing: 0.1em;
				padding:18px 20px 18px 0;
			}
			textarea {
				height: 100px;
			}
			 ::-webkit-input-placeholder {
        	color: #fff; }
				::-moz-placeholder {
        	color: #fff; }
				:-moz-placeholder {
        	color: #fff; }
				:-ms-input-placeholder {
        	color: #fff; }
				::-moz-placeholder {
        	opacity: 1; }
			}
		}
		input[type="submit"] {
			background: $teal;
			border: none;
			color:#fff;
			text-transform: uppercase;
			font-size:21px;
			font-family: $muli;
			font-weight: 800;
			letter-spacing: 0.12em;
			margin-top:30px;
			padding:15px 58px;
			border:3px solid $teal;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			&:hover {
				border:3px solid $teal;
				background: transparent;
				color:$teal;
			}
		}
	}

.validation_error {
	display: none;
}

.gfield_description, .validation_message {
	color:#fff;
	text-align: left;
	font-family: $muli;
	font-size: 14px;
	letter-spacing: 0.12em;
	margin-top:7px;
	color:$teal;
	position: absolute;
	top: 64px;
	left:0;
}

.blue_weed {
	position: absolute;
	bottom: -339px;
  right: -86px;
	svg {
		width:600px;
	}
}


.gform_confirmation_message {
	color:#fff;
	font-family: $muli;
	font-size:20px;
	letter-spacing: 0.1em;
}

.sec_four_tri_wrapper {


	.sec_four_tri {
		background: url(#{$themePath}images/black-square.svg) top center;
		background-size:cover;
		width:100%;
		height:100%;
		margin:0 auto;
		position: absolute;
		top:0px;
		left:0;
	
		}
	}


@media screen and (max-width: 1530px) {
	
.blue_weed {
	bottom: -269px;
  right: -76px;
	svg {
		width:500px;
	}
}
	
	   
	
	
	
} /* Media Query */



@media screen and (max-width: 1130px) {
	
	
	
	#section_four {
		padding-left:45px;
		padding-right:45px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	
	#section_four {
		padding-top: 70px;
	}
	
	.sec_four_inner {
		h2 {
			 font-size: 32px;
			 line-height: 41px;
			 margin-left: auto;
			 margin-right: auto;
		}
	} 
	
	
	   
	
	
	.form {
		margin: 45px auto 0;
		ul {
			li {
				flex-basis: 100%;
				margin-bottom: 29px;
				label {
					
				}
				input {
					
				}
			}
		}
		input[type="submit"] {
			font-size: 18px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 825px) {
	
	
	.blue_weed {
		svg {
    	width: 449px;
		}
	} 
	
	
	
} /* Media Query */

@media screen and (max-width: 640px) {
	
	
	
	
	.sec_four_inner {
		h2 {
			 
		}
	} 
	
	
	
	
} /* Media Query */

