#section_two {
	position: relative;
	
}


.pinksvg {
	position: absolute;
	top:-120px;
	left:-50px;
	z-index: 1;
	svg {
		width: 360px;
	}
}


.light_grey_wrapper {
	width:100%;
	height:400px;
	background: $lightgrey;
	position: absolute;
	top:150px;
	left:0;
}


